<ion-content [fullscreen]="true" id="tab1">
  <ion-header >
    <ion-toolbar color="primary">
      <ion-title size="large">Métro</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="content">
    <ion-item  class="mb-4">
      <ion-label>Ligne</ion-label>
      <ion-select name="ligne" id="ligne" #ligne (ionChange)="searchLigne(ligne)" interface="popover">
        <ion-select-option value="0">Toutes</ion-select-option>
        <ion-select-option *ngFor="let item of lignes" value="{{item}}">{{item}}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <div class="p-3">
      <div *ngFor="let item of infos" class="border-bottom border-primary pt-3 oneinfo">
        <span class="font-weight-bold">Ligne  {{item['line']}} : </span>{{item['message']}}
      </div>
    </div>
  </div>
</ion-content>
